################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cap13/packages
Merp/packages/
LiveScore-ES/src/LiveScoreEs/packages/
IBuyStuff-dm/src/packages/
Merp/src/Merp.Web.UI/bin/
Merp/test/Merp.Web.UI.Tests/bin/
Merp/src/Merp.Web.UI/App_Data/
Merp/src/Merp.Web.UI/obj/Debug/Merp.Web.UI.csproj.FileListAbsolute.txt
Merp/src/Merp.Web.UI/obj/Debug/Merp.Web.UI.csproj.App.config
Merp/src/Merp.Web.UI/Raven/CompiledIndexCache/1266699147.PRqrTV4XWTJsroAO3KDE3g%3d%3d.nodebug.dll.cs
Merp/src/Merp.Web.UI/Raven/CompiledIndexCache/1266699147.PRqrTV4XWTJsroAO3KDE3g%3d%3d.debug.dll.cs
Merp/src/Merp.Web.UI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Merp/src/Merp.Registry.QueryStack/obj/Debug/
Merp/src/Merp.Infrastructure.RavenDB/obj/
Merp/src/Merp.Accountancy.QueryStack/obj/Debug/
Merp/src/Merp.Accountancy.QueryStack/bin/
Merp/src/Merp.Infrastructure.RavenDB/bin/Debug/
Merp/src/Merp.Infrastructure/obj/Debug/
Merp/src/Merp.Registry.CommandStack/bin/Debug/
Merp/test/Merp.Accountancy.CommandStack.Tests/bin/Debug/
Merp/test/Merp.Infrastructure.Tests/bin/Debug/
Merp/test/Merp.Infrastructure.Tests/obj/Debug/Merp.Infrastructure.Tests.csproj.FileListAbsolute.txt
Merp/src/Merp.Accountancy.CommandStack/bin/Debug/
Merp/src/Merp.Accountancy.CommandStack/obj/Debug/
Merp/src/Merp.Registry.QueryStack/bin/Debug/
Merp/src/Merp.Registry.CommandStack/obj/Debug/
Merp/test/Merp.Web.UI.Tests/obj/Debug/
Merp/test/Merp.Accountancy.CommandStack.Tests/obj/Debug/
Merp/src/Merp.Infrastructure/bin/Debug/
IBuyStuff-dm/src/Infrastructure/IBuyStuff.Persistence/obj/Release/
Merp/src/Merp.Web.UI/Raven/CompiledIndexCache/
IBuyStuff-dm/src/Site/IBuyStuff.Application/obj/Release/
Merp/test/Merp.Infrastructure.Tests/obj/Debug/
IBuyStuff-dm/src/Domain/IBuyStuff.Domain.Services/bin/Release/
IBuyStuff-dm/src/Domain/IBuyStuff.Domain.Services/obj/Release/
IBuyStuff-dm/src/Site/IBuyStuff.Server/obj/Release/
Merp/src/Merp.Web.UI/obj/Debug/
IBuyStuff-dm/src/Site/IBuyStuff.Application/bin/Release/
IBuyStuff-dm/src/Infrastructure/IBuyStuff.Persistence/bin/Release/
IBuyStuff-dm/src/Domain/IBuyStuff.Domain/obj/Release/
IBuyStuff-dm/src/Infrastructure/IBuyStuff.Infrastructure/obj/Release/
