@{
    ViewBag.Title = "About";
}
<h2>MERP</h2>
<h3>Micro ERP</h3>

<p>
    A companion app for the <strong><a href="http://www.amazon.com/Microsoft-NET-Architecting-Applications-Enterprise/dp/0735685355/ref=sr_1_4?ie=UTF8&qid=1409583271&sr=8-4&keywords=saltarello">"Microsoft .NET - Architecting Applications for the Enterprise (2nd Edition)"</a></strong> book by <strong><a href="https://www.microsoft.com/learning/en-us/microsoft-press-books.aspx">Microsoft Press</a></strong>
</p>
<p>
    Updated releases of this sample are available <a href="https://naa4e.codeplex.com">here</a>.
</p>
