@model Merp.Web.UI.Models.JobOrder.IndexViewModel
@{
    ViewBag.Title = "Index";
}
<script>
    (function () {
        var homePageApp = angular.module('myApp', []);
    }());
    (function (module) {
        var currentJobOrdersController = function ($scope, $http) {
            $scope.refreshJobOrdersList = function () {
                var url = '/JobOrder/GetList';
                $http.get(url).success(function (data) {
                    $scope.CurrentJobOrders = data;
                });
            }
            $scope.refreshJobOrdersList();
        }
        module.controller('currentJobOrdersController', ['$scope', '$http', currentJobOrdersController]);
    }(angular.module('myApp')))
</script>
<div class="row">
    <h2>Index</h2>
    <div id="JobOrdersBox" class="col-md-10 pull-left">
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentOnly, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentOnly, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrentOnly, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="button" id="refreshButton" value="Enquire" />
        <div id="JobOrdersTab" data-ng-controller="CurrentJobOrdersController">
            <label for="CurrentJobOrdersTable">Commesse aperte</label>&nbsp;(<a id="refreshCurrentJobOrdersList" data-ng-click="refreshJobOrdersList()">refresh</a>)
            <table id="CurrentJobOrdersTable" class="table table-striped">
                <thead>
                    <tr>
                        <td></td>
                        <td>Cliente</td>
                        <td>Nome</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="jobOrder in CurrentJobOrders">
                        <td><a href="/SbuMng/Home/{{jobOrder.Id}}">[Edit]</a></td>
                        <td>{{jobOrder.CustomerName}}</td>
                        <td>{{jobOrder.Name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div id="CommandsBox" class="col-md-2 pull-right">
        <ul>
            <li><a href="/JobOrder/CreateFixedPrice">Create fixed price Job Order</a></li>
            <li><a href="/JobOrder/CreateTimeAndMaterial">Create time and material Job Order</a></li>
            <li><a href="/JobOrder/Extend">Extend</a></li>
            <li><a href="/JobOrder/Close">Close</a></li>
        </ul>
    </div>
</div>

