@model Merp.Web.UI.Models.JobOrder.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li><a href="/JobOrder/CreateFixedPrice">Create fixed price Job Order</a></li>
    <li><a href="/JobOrder/CreateTimeAndMaterial">Create time and material Job Order</a></li>
    <li><a href="/JobOrder/Extend">Extend</a></li>
    <li><a href="/JobOrder/Close">Close</a></li>
</ul>

