
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul class="list-unstyled">
    <li>@Html.ActionLink("View Job Orders", "Index", "JobOrder")</li>
    <li><a href="/Accountancy/JobOrder/CreateFixedPrice">Create fixed price Job Order</a></li>
    <li><a href="/Accountancy/JobOrder/CreateTimeAndMaterial">Create time and material Job Order</a></li>
    <li>@Html.ActionLink("Issue an invoice", "Issue", "Invoice")</li>
</ul>

